# Created by https://www.toptal.com/developers/gitignore/api/intellij,java
# Edit at https://www.toptal.com/developers/gitignore?templates=intellij,java

### IntelliJ ###
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/replstate.xml
.idea/**/sonarlint/
.idea/**/sonarIssues.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/
.idea/$CACHE_FILE$
.idea/codestream.xml
.idea/**/azureSettings.xml
.idea/httpRequests
.idea/caches/build_file_checksums.ser

# IntelliJ Project Module Files (Exclude from Git)
*.iml  # <== **이제 .iml 파일은 Git에서 무시됩니다!**
*.ipr
modules.xml
.idea/misc.xml

# Gradle/Maven Artifacts
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/modules

# IntelliJ Output Folder
out/

# CMake Build Folders
cmake-build-*/

# Logs & Crash Reports
*.log
hs_err_pid*
replay_pid*

# Java Compiled Class Files
*.class

# JAR, WAR, ZIP, etc.
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
